* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg-img.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}