@import './_variables';


.header-wrapper {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    padding: 18px 0;
}
.header {
    width: 1200px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    color: currentColor;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    transition: $transitionSlow;
    &:hover {
        color: $hoverColor;
    }
}
.header-content {
    display: flex;
    align-items: center;
    gap: 52px;
}

.header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    position: relative;
    
    &::after {
        content: '';
        background: rgba(255, 255, 255, 0.9);
        mix-blend-mode: normal;
        opacity: 0.5;
        width: 1px;
        height: 19px;
        position: absolute;
        right: -26px;
        top: 50%;
        bottom: 50%;
        transform: translate(-50%, -50%);
    }
}
.header-item {
    list-style: none;
    color: currentColor;
    display: flex;
    justify-content: center;
    transition: $transitionSlow;
    &:hover {
        color: $hoverColor;
    }
}

.header-link {
    color: currentColor;
    text-decoration: none;
    @include smallFont;
    transition: $transitionSlow;
    &:hover {
        color: $hoverColor;
        text-decoration: underline;
    }
}
