* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-image: url(../img/bg-img.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.header-wrapper {
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  padding: 18px 0;
}

.header {
  width: 1200px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  color: currentColor;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  transition: 0.5s;
}
.logo-link:hover {
  color: #01813F;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 52px;
}

.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
  position: relative;
}
.header-list::after {
  content: "";
  background: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.5;
  width: 1px;
  height: 19px;
  position: absolute;
  right: -26px;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

.header-item {
  list-style: none;
  color: currentColor;
  display: flex;
  justify-content: center;
  transition: 0.5s;
}
.header-item:hover {
  color: #01813F;
}

.header-link {
  color: currentColor;
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  transition: 0.5s;
}
.header-link:hover {
  color: #01813F;
  text-decoration: underline;
}

.main-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -63px;
}

.wrapper-card {
  width: 444px;
  padding: 31px 60px 38px 60px;
  background: #FFFFFF;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  position: relative;
}
.wrapper-card::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  background-color: #3CB878;
  left: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.login {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sing {
  color: #434343;
  font-size: 20px;
  line-height: 20px;
}

.card-link {
  color: #3CB878;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  transition: 0.5s;
}
.card-link:hover {
  color: #01813F;
  text-decoration: underline;
}

.login-mail {
  width: 100%;
  display: flex;
  gap: 8px;
}

.login-button {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}
.login-button::after {
  content: "";
  background: #2B0D09;
  mix-blend-mode: normal;
  width: 1px;
  height: 28px;
  opacity: 0.1;
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  left: 47px;
}

.bg-blue {
  background: #305DB8;
  transition: 0.5s;
}
.bg-blue:hover {
  background: #022263;
}

.bg-red {
  background: #DF4A32;
  transition: 0.5s;
}
.bg-red:hover {
  background: #AB1F09;
}

.icon-facebook {
  background-image: url(../img/icon-facebook.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 24px;
  height: 24px;
  margin: 11px 32px 11px 10px;
}

.icon-text {
  color: white;
  font-size: 16px;
  line-height: 16px;
}

.icon-google {
  background-image: url(../img/icon-google.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 19px;
  margin: 14px 38px 13px 10px;
}

.wrapper-or {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: center;
  position: relative;
  margin-top: 15px;
}
.wrapper-or::after {
  content: "";
  background: #F2F2F2;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.or {
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  position: relative;
  background-color: white;
  z-index: 1;
  padding: 0 3px 3px 3px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  width: 100%;
  padding: 16px 20px;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  outline: none;
}
.input::-moz-placeholder {
  color: #BEBEBE;
  font-size: 14px;
  line-height: 14px;
}
.input:-ms-input-placeholder {
  color: #BEBEBE;
  font-size: 14px;
  line-height: 14px;
}
.input::placeholder {
  color: #BEBEBE;
  font-size: 14px;
  line-height: 14px;
}
.input:focus {
  border: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.terms-conditions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-hidden {
  display: none;
}
.checkbox-hidden:checked ~ .checkbox {
  background-image: url(../img/checkbox.svg);
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center center;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #F2F2F2;
}

.rules {
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}
.rules-link {
  color: #3CB878;
  text-decoration: none;
  transition: 0.5s;
}
.rules-link:hover {
  color: #01813F;
  text-decoration: underline;
}

.form-action {
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 16px 0;
  margin-top: 8px;
  background: #3CB878;
  font-size: 16px;
  line-height: 16px;
  color: white;
  transition: 0.5s;
}
.form-action:hover {
  background-color: #01813F;
}/*# sourceMappingURL=style.css.map */