*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #171717;
    color: white;
    padding-bottom: 200px;
}

.btn { 
    padding: 10px 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    border: 1px solid #E4B564;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn:hover{
    background-color: #2c2210;
}

.conteiner {
    max-width: 1460px;
    display: flex;
    flex-direction: column;
    gap: 160px;
    margin: 0 auto;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 37px;
}

.header-logo {
    max-width: 216px;
    max-height: 33px;
    flex-grow: 1;
}

.header-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 500px;
}

.telefon {
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    margin-right: 39px;
    color: white;
}

.modifier-color{
    color: #D6AF76;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 161px;
    margin-bottom: 231px;
}

.about-servises-wrapper {
    display: flex;
    flex-direction: column;
}

.about-us {
    min-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 41px;
    margin-bottom: 41px;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 28px;
}

.text {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.services {
    min-width: 800px;
    min-height: 963px;
    display: grid;
    grid-template: 1fr 1fr/ repeat(6, 1fr);
    grid-gap: 30px;
    cursor: pointer;
}

.services-item-1 {
    grid-column: span 2;
    background: #634F2C;
}

.services-item-2 {
    grid-column: span 2;
    background: #B4A385;
}

.services-item-3 {
    grid-column: span 2;
    background: #E4B564;
}

.services-item-4 {
    grid-column: span 3;
    background: #635A4A;
}

.services-item-5 {
    grid-column: span 3;
    background: #B08C4D;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding: 30px;
}

.about-technique-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 53px;
    cursor: pointer;
}

.technique {
    min-height: 897px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 30px;
}

.technique-item-1 {
    background: #0E0E0E;
    grid-row: 1 / 5;
    grid-column: 1 / 2;
}

.technique-item-2 {
    background: #1F1F1F;
    grid-row: 5 / 11;
    grid-column: 1 / 2;
}

.technique-item-3 {
    background: #242424;
    grid-row: 1 / 7;
    grid-column: 2 / 3;
}

.technique-item-4 {
    color: black;
    background: #E4B564;
    grid-row: 7 / 11;
    grid-column: 2 / 3;
}

.technique-item-5 {
    background: #1F1F1F;
    grid-row: span 3;
    grid-column: 3 / 4;
}

.technique-item-6 {
    background: #0E0E0E;
    grid-row: span 4;
    grid-column: 3 / 4;
}

.technique-item-7 {
    background: #0A0909;
    grid-row: span 3;
    grid-column: 3 / 4;
}

.text-modifier {
    display: block;
    padding: 44px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px; 
}

.footer {
    display: flex;
    justify-content: center;
    background: #0A0909;
    padding: 0;
}

.footer-wrapper {
    width: 1460px;
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding-top: 143px;
    padding-bottom: 29px;
}

.partners-info {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.partners-wrapper {
    min-height: 782px;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, minmax(300px, 1fr));
    grid-auto-flow: column dense;
    cursor: pointer;
}

.partners-item-1 {
    background: #634F2C;
    background-image: url(../img/logo-EID.png);
    background-repeat: no-repeat;
    background-size: 185px 49px;
    background-position: center center;
}

.partners-item-2 {
    background: #635A4A;;
    background-image: url(../img/logo-arsenal.png);
    background-repeat: no-repeat;
    background-size: 190px 42px;
    background-position: center center;
}

.partners-img-3 {
    width: 139px;
    height: 113px; 
}

.partners-item-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #DBC7A2;
}

.partners-item-4 {
    background: #B08C4D;
    background-image: url(../img/logo-setgroup.png);
    background-repeat: no-repeat;
    background-size: 119px 53px;
    background-position: center center;
}

.partners-item-5 {
    background: #E4B564;;
    background-image: url(../img/logo-arsenal.png);
    background-repeat: no-repeat;
    background-size: 190px 42px;
    background-position: center center;
}

.partners-item-6 {
    background: #634F2C;
    background-image: url(../img/logo-EID.png);
    background-repeat: no-repeat;
    background-size: 185px 49px;
    background-position: center center;
}

.partners-item-7 {
    background: #634F2C;
    background-image: url(../img/logo-EID.png);
    background-repeat: no-repeat;
    background-size: 185px 49px;
    background-position: center center;
}

/* icon */

.icon {
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 8px;
}

.phone {
    background-image: url(../img/icon-phone.svg); 
}

