* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url("./bg.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: cover, cover;
}

.wrapper-loader {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
}

.loader {
    position: relative;
    width: 64px;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.5);
    transform: rotate(45deg) scale(2);
    overflow: hidden;


}

.loader:after {
    content: '';
    position: absolute;
    inset: 8px;
    margin: auto;
    background: #222b32;
}

.loader:before {
    content: '';
    position: absolute;
    inset: -15px;
    margin: auto;
    background: #de3500;
    animation: diamondLoader 2s linear infinite;
}

#root {
    width: 100%;
    min-width: 100vh;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 75px;

}


.wrapper-card {
    max-width: 700px;
    min-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(23, 23, 23, 0.8);
    box-shadow: #f30000 4px 0 18px;
    text-align: center;
    padding: 50px;
}


.name {
    font-family: 'RedFive', sans-serif;
    font-size: 50px;
    color: #9ee3ff;
    text-shadow: #003af6 4px 0 18px;
    padding: 10px;
}

.episode {
    font-size: 30px;
    font-family: sans-serif;
    color: #9fff91;
    text-shadow: #31ff00 4px 0 18px;
}

.description {
    max-width: 500px;
    font-size: 20px;
    padding-bottom: 20px;
    color: white;
    font-family: sans-serif;
}

.wrapper-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    font-size: 40px;
    padding: 20px;
    outline: none;
    color: #9fff91;
    border: none;
    text-shadow: #31ff00 4px 0 18px;
    background: #0e3378;
    cursor: pointer;
}

.modal-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
}

.loader-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.loader-in-modal {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.modal-title {
    font-size: 50px;
    font-family: sans-serif;
    position: absolute;
    color: white;
    top: 17%;
}

.content {
    width: 70%;
    height: 70%;
    display: grid;
    text-align: center;
    align-content: center;
    grid-template-columns: repeat(5, 1fr);
    padding: 50px;
    background: rgba(0, 0, 0, 0.82);
    box-shadow: #f30000 4px 0 18px;
    list-style: none;
}

.modal-text {
    border: 1px solid white;
    padding: 10px;
    font-size: 27px;
    color: white;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    cursor: pointer;

    &:before, &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 4px;
        background-color: #ffffff;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}


@keyframes diamondLoader {
    0%, 10% {
        transform: translate(-64px, -64px) rotate(-45deg)
    }
    90%, 100% {
        transform: translate(0px, 0px) rotate(-45deg)
    }
}